<!-- Footer -->
<footer class="">
  <!-- Grid container --> 
  <div class="container p-4">
    <section class="">
      <!--Grid row-->
      <div class="row mx-2">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0 col-about py-4">
          <h5 class="py-2">About Us</h5>
          <p class="py-2">At our store for pet products, we are passionate about providing high-quality supplies for your beloved pets.</p>
          <div class="socialmedia">
          <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button">
            <i class="fab fa-twitter"></i>
          </a>
          <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button">
            <i class="fab fa-google"></i>
          </a>
          <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
        </div>
        <!--Grid column-->

        <!--Grid column--> 
        <!-- Hoverr -->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0 col-info py-4">
          <h5 class="">Information</h5>
          <ul class="list-unstyled mb-0">
            <li class ="py-2">
              <a class="text-light" href="#!">About us</a>
            </li>
            <li class ="py-2">
              <a class="text-light" href="#!">Delivery Information</a>
            </li>
            <li class ="py-2">
              <a class="text-light" href="#!">Privacy Policy</a>
            </li>
            <li class ="py-2">
              <a class="text-light" href="#!">Terms & Conditions</a>
            </li>
            <li class ="py-2">
              <a class="text-light" href="#!">Contact Us</a>
            </li>
            <li class ="py-2">
              <a class="text-light" href="#!">Login Info</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0 policy py-4">
          <h5 class="">Our Policy</h5>

          <ul class="list-unstyled mb-0 ">
            <li class ="py-2">
              <a class="text-light" href="#!">Gallery</a>
            </li>
            <li class ="py-2">
              <a class="text-light" href="#!">Brands</a>
            </li>
            <li class ="py-2">
              <a class="text-light" href="#!">Gift Certificates</a>
            </li>
            <li class ="py-2">
              <a class="text-light" href="#!">Speclais</a>
            </li>
            <li class ="py-2">
              <a class="text-light" href="#!">My Account As</a>
            </li>
            <li class ="py-2">
              <a class="text-light" href="#!">About Us</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0 cnt-us py-4">
          <h5 class="">Contact Info:</h5>
          <p>If you have any question.please contact us at <span>demo@example.com</span></p>
          <div class="row">
            <div class="col-3">
            <i class="fas fa-map-marker-alt fa-2x"></i>
            </div>
            <div class="col-8">
              <p>Address: 1234 Street Name, City Name, United States</p>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <i class="fas fa-phone  fa-2x"></i>
            </div>
            <div class="col-8">
              <p><span> Have any Question?</span>
              +123 456 7890</p>
            </div>
          </div>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
    <div class="line"></div>
    <div class="row">
      <div class="col-lg-9">
        <div class="text-center p-3 copyright">
      © 2024 Copyright Made with &#10084; by ABC
        </div>
      </div>
      <div class="col-lg-3">
        <img src="assets/Images/payment.webp" alt="">
      </div>
  </div>
  </div>
</footer>
