<!--== Start Header Wrapper ==-->
<header class="header-area header-default">
  <div class="container">
    <div class="row no-gutter align-items-center position-relative">
      <div class="col-12">
        <div class="header-align">
          <div class="header-align-start">
            <div class="header-logo-area">
              <a href="index.html">
                <!-- <img class="logo-main" src="assets/img/logo-light.webp" alt="Logo" /> -->
                <h2 class="text-white mb-0">Pets Haven</h2>
              </a>
            </div>
          </div>
          <div class="header-align-center">
            <div class="header-navigation-area position-relative">
              <ul class="main-menu nav">
                <li class="has-submenu">
                  <a href="#/"><span>Home</span></a>
                </li>
                <li>
                  <a routerLink="/about"><span>About</span></a>
                </li>
                <li class="has-submenu position-static">
                  <a routerLink="/products"><span>Shop</span></a>
                </li>
                <li class="has-submenu">
                  <a href="#/"><span>Blog</span></a>
                  <ul class="submenu-nav submenu-nav-mega">
                    <li class="mega-menu-item">
                      <a href="#/" class="mega-title">Blog Layout</a>
                      <ul>
                        <li><a href="blog-grid.html">Blog Grid</a></li>
                        <li><a href="blog.html">Blog Left Sidebar</a></li>
                        <li>
                          <a href="blog-right-sidebar.html"
                            >Blog Right Sidebar</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li class="mega-menu-item">
                      <a href="#/" class="mega-title">Single Blog</a>
                      <ul>
                        <li>
                          <a href="blog-details-no-sidebar.html"
                            >Blog Details</a
                          >
                        </li>
                        <li>
                          <a href="blog-details.html"
                            >Blog Details Left Sidebar</a
                          >
                        </li>
                        <li>
                          <a href="blog-details-right-sidebar.html"
                            >Blog Details Right Sidebar</a
                          >
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="has-submenu">
                  <a href="#/"><span>Pages</span></a>
                  <ul class="submenu-nav">
                    <li>
                      <a href="account.html"><span>Account</span></a>
                    </li>
                    <li>
                      <a href="account-login.html"><span>Login</span></a>
                    </li>
                    <li>
                      <a href="account-register.html"><span>Register</span></a>
                    </li>
                    <li>
                      <a href="page-not-found.html"
                        ><span>Page Not Found</span></a
                      >
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="contact-us.html"><span>Contact Us</span></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="header-align-end">
            <div class="header-action-area">
              <div class="shopping-search">
                <button
                  class="shopping-search-btn"
                  type="button"
                  data-bs-toggle="offcanvas"
                  data-bs-target="#AsideOffcanvasSearch"
                  aria-controls="AsideOffcanvasSearch"
                >
                  <i class="bi bi-search"></i>
                </button>
              </div>
              <div class="shopping-account mt-3">
                <a class="shopping-account-btn" routerLink="/signin">
                  <i class="bi bi-people"></i>
                </a>
              </div>
              <div class="shopping-wishlist mt-3">
                <a class="shopping-wishlist-btn" href="shop-wishlist.html">
                  <i class="bi bi-heart"></i>
                </a>
              </div>
              <div class="shopping-cart">
                <button
                  class="shopping-cart-btn"
                  type="button"
                  data-bs-toggle="offcanvas"
                  data-bs-target="#AsideOffcanvasCart"
                  aria-controls="AsideOffcanvasCart"
                >
                  <i class="bi bi-bag-dash"></i>
                  <sup class="shop-count">2</sup>
                </button>
              </div>
              <button
                class="btn-menu"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#AsideOffcanvasMenu"
                aria-controls="AsideOffcanvasMenu"
              >
                <i class="bi bi-list"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!--== End Header Wrapper ==-->
<app-aside-menu></app-aside-menu>
<app-search-home-icon></app-search-home-icon>
<app-aside-cart></app-aside-cart>
