/*
-----------------------------------------------------------------------
	Main Navigation CSS
-----------------------------------------------------------------------
*/
.main-menu > li {
  margin-right: 14px;
  padding: 3px 0;
}
.main-menu > li:last-child {
  margin-right: 0;
}
.main-menu > li > a {
  color: #000;
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  padding: 7px 25px;
  position: relative;
}
.main-menu > li:hover > a, .main-menu > li.active > a {
  color: #721b65;
}
.main-menu > li:hover > a:before, .main-menu > li.active > a:before {
  color: #721b65;
}

.has-submenu {
  padding-right: 10px;
  position: relative;
}
.has-submenu > a {
  position: relative;
}
.has-submenu > a:before {
  content: "";
  color: #ffd868;
  display: none;
  font-size: 12px;
  font-family: "FontAwesome";
  position: absolute;
  right: -16px;
  top: 0;
  line-height: 51px;
}
.has-submenu:hover > .submenu-nav {
  margin-top: 0;
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}
.has-submenu .submenu-nav {
  background-color: #111;
  border: none;
  border-bottom: none;
  padding: 15px 0 15px;
  position: absolute;
  left: -15px;
  top: 100%;
  opacity: 0;
  min-width: 230px;
  pointer-events: none;
  margin-top: 30px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  visibility: hidden;
  z-index: 9999;
}
@media only screen and (max-width: 1199px) {
  .has-submenu .submenu-nav {
    min-width: 210px;
    left: 0;
  }
}
.has-submenu .submenu-nav:before {
  content: "";
  position: absolute;
  height: 56px;
  width: 100%;
  left: 0;
  bottom: 100%;
}
.has-submenu .submenu-nav > li {
  padding: 10px 25px;
}
.has-submenu .submenu-nav > li a {
  color: #aaa;
  display: block;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: inherit;
  text-transform: capitalize;
}
.has-submenu .submenu-nav > li a:hover {
  color: #fff;
}
.has-submenu .submenu-nav > li:hover > a {
  color: #fff;
}
.has-submenu .submenu-nav > li:hover:after {
  color: #fff !important;
}
.has-submenu .submenu-nav > li.has-submenu {
  position: relative;
}
.has-submenu .submenu-nav > li.has-submenu a:before {
  display: none;
}
.has-submenu .submenu-nav > li.has-submenu:hover > .submenu-nav {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}
.has-submenu .submenu-nav > li.has-submenu:after {
  content: "";
  color: #181818;
  font-size: 15px;
  line-height: 1;
  font-family: "FontAwesome";
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(0%, -57%);
  -webkit-transform: translate(0%, -57%);
  -moz-transform: translate(0%, -57%);
  -ms-transform: translate(0%, -57%);
  -o-transform: translate(0%, -57%);
}
.has-submenu .submenu-nav > li.has-submenu .submenu-nav {
  left: 100%;
  top: 0;
}
.has-submenu .submenu-nav-mega {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 50px;
  width: 100%;
}
@media only screen and (max-width: 1199px) {
  .has-submenu .submenu-nav-mega {
    width: 830px;
  }
}
.has-submenu .submenu-nav-mega .mega-menu-item {
  padding: 0;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}
.has-submenu .submenu-nav-mega .mega-menu-item:last-child {
  border-right: 0;
}
.has-submenu .submenu-nav-mega.colunm-two .mega-menu-item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.has-submenu.full-width {
  position: static;
}
/*
-----------------------------------------------------------------------
  Offcanvas Header
-----------------------------------------------------------------------
*/
.off-canvas-wrapper.offcanvas {
  background-color: #1f1f1f;
  width: 310px;
}
@media only screen and (max-width: 991px) {
  .off-canvas-wrapper.offcanvas {
    width: 310px;
  }
}
.off-canvas-wrapper .offcanvas-header {
  padding: 0;
}
.off-canvas-wrapper .offcanvas-body {
  padding: 12px 20px 20px;
  scrollbar-width: auto;
  scrollbar-color: #1f1f1f #292929;
  /* Chrome, Edge, and Safari */
}
.off-canvas-wrapper .offcanvas-body::-webkit-scrollbar {
  width: 2px;
}
.off-canvas-wrapper .offcanvas-body::-webkit-scrollbar-track {
  background: #292929;
}
.off-canvas-wrapper .offcanvas-body::-webkit-scrollbar-thumb {
  background-color: #1f1f1f;
  border-radius: 2px;
  border: 2px solid #1f1f1f;
}
.off-canvas-wrapper .btn-menu-close {
  display: block;
  width: 100%;
  height: 60px;
  background-color: #721b65;
  opacity: 1;
  border-radius: 0;
  color: #fff;
  background-image: none;
  padding: 0 20px;
  line-height: 60px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  font-weight: 600;
  text-align: left;
  border: none;
  position: relative;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
.off-canvas-wrapper .btn-menu-close i {
  position: absolute;
  right: 21px;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}
.off-canvas-wrapper .btn-menu-close:hover {
  color: #fff;
  background-color: #222;
}

.offcanvas-backdrop,
.modal-backdrop {
  background-color: rgba(43, 43, 43, 0.92);
  /* cursor: url("../img/icons/cancel-white.webp"), auto; */
}
.offcanvas-backdrop.show,
.modal-backdrop.show {
  opacity: 1;
}

.offcanvas-menu-nav {
  position: relative;
  z-index: 1;
}

.offcanvas-menu-nav ul ul {
  display: none;
}

.offcanvas-menu-nav li.active > ul {
  display: block;
}

.offcanvas-menu-nav li a {
  color: #fff;
  display: block;
  text-transform: capitalize;
  position: relative;
  font-size: 17px;
  font-weight: 400;
  padding: 15px 0;
  line-height: 1;
}
.offcanvas-menu-nav li a:hover {
  color: #fff;
}

.offcanvas-menu-nav li ul {
  border-left: 1px solid rgba(255, 255, 255, 0.11);
  padding-left: 18px;
  margin-bottom: 18px;
}
.offcanvas-menu-nav li ul li {
  padding: 4px 0;
}
.offcanvas-menu-nav li ul li a {
  color: #fff;
  display: block;
  text-transform: capitalize;
  position: relative;
  font-size: 13px;
  font-weight: 600;
  padding: 0;
  line-height: 1.8;
}
.offcanvas-menu-nav li ul li a:hover {
  color: #fff;
}

.offcanvas-menu-nav .offcanvas-nav-parent ul li .offcanvas-nav-item {
  font-size: 15px;
  padding: 4px 0;
}
.offcanvas-menu-nav .offcanvas-nav-parent ul li .offcanvas-nav-item:after {
  top: 4px;
}
.offcanvas-menu-nav .offcanvas-nav-parent ul li ul {
  margin-bottom: 8px;
}

.offcanvas-menu-nav a:not(:only-child):after {
  content: "";
  font-family: "FontAwesome";
  position: absolute;
  right: 0;
  top: 15px;
}

.offcanvas-menu-nav .active > a:not(:only-child):after {
  content: "";
}

/*
-----------------------------------------------------------------------
  Section Title CSS
-----------------------------------------------------------------------
*/
.section-title {
  margin-bottom: 72px;
  position: relative;
}
@media only screen and (max-width: 1199px) {
  .section-title {
    margin-bottom: 42px;
  }
}
.section-title .sub-title {
  color: #721b65;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 3px;
  margin-bottom: 8px;
  text-transform: uppercase;
}
@media only screen and (max-width: 1199px) {
  .section-title .sub-title {
    font-size: 13px;
  }
}
.section-title .title {
  font-size: 48px;
  line-height: 1.125;
  margin-bottom: 0;
}
@media only screen and (max-width: 1199px) {
  .section-title .title {
    font-size: 36px;
  }
}
@media only screen and (max-width: 767px) {
  .section-title .title {
    font-size: 30px;
  }
}
.section-title.shape-left {
  position: relative;
  z-index: 1;
}
.section-title.shape-left:before {
  /* content: url("../img/icons/sec.webp"); */
  position: absolute;
  left: 0;
  top: -16px;
  z-index: -1;
}
@media only screen and (max-width: 1199px) {
  .section-title.shape-left:before {
    display: none;
  }
}
.section-title.shape-center {
  position: relative;
  z-index: 1;
}
.section-title.shape-center:before {
  /* content: url("../img/icons/sec.webp"); */
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  top: -11px;
  z-index: -1;
}
@media only screen and (max-width: 1199px) {
  .section-title.shape-center:before {
    display: none;
  }
}

/*
-----------------------------------------------------------------------
  Header CSS
-----------------------------------------------------------------------
*/
.header-area {
  padding: 0;
  background-image: url("../../../assets/Images/header-bg.webp");
  background-size: cover;
  background-position: center center;
}
.header-area .container {
  padding: 0 15px;
}
@media only screen and (max-width: 1399.98px) {
  .header-area .container {
    max-width: none;
    padding: 0 15px;
  }
}
.header-area.sticky-header {
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}
.header-area.sticky-header.sticky {
  background-color: #721b65;
  -webkit-box-shadow: 0px 10px 60px -30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 60px -30px rgba(0, 0, 0, 0.1);
  position: fixed !important;
  left: 0;
  top: 0 !important;
  width: 100%;
  z-index: 99;
}
.header-area.sticky-header.sticky .header-logo-area .logo-main {
  display: block;
}
.header-area.sticky-header.sticky .header-logo-area .logo-light {
  display: none;
}
.header-area.transparent {
  background-color: transparent;
  position: absolute !important;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9;
}
.header-area.header-default {
  background-size: cover;
  background-position: top left 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}
.header-area .header-align {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 136px;
}
@media only screen and (max-width: 1199px) {
  .header-area .header-align {
    height: 88px;
  }
}
@media only screen and (max-width: 991px) {
  .header-navigation-area {
    display: none;
  }
}
.header-navigation-area .main-menu.nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-navigation-area .main-menu.nav > li {
  padding: 0;
  margin-right: 0;
}
.header-navigation-area .main-menu.nav > li.active > a {
  color: #ffd868;
}
.header-navigation-area .main-menu.nav > li.active > a:before {
  color: #ffd868;
}
.header-navigation-area .main-menu.nav > li > a {
  color: #fff;
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  height: 56px;
  line-height: 56px;
  letter-spacing: 0;
  position: relative;
  margin: 0 13px;
  padding: 0 13px;
  text-transform: uppercase;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
.header-navigation-area .main-menu.nav > li > a span {
  position: relative;
}
.header-navigation-area .main-menu.nav > li > a span:before {
  content: "";
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
.header-navigation-area .main-menu.nav > li > a:hover {
  color: #ffd868;
}
.header-navigation-area .main-menu.nav > li > a:hover:after {
  bottom: auto;
  height: 100%;
  top: 0;
}
.header-navigation-area .main-menu.nav > li:first-child {
  margin-left: 0;
}
.header-navigation-area .main-menu.nav > li:first-child > a {
  margin-left: 0;
  padding-left: 0;
}
.header-navigation-area .main-menu.nav > li:last-child {
  margin-right: 0;
}
.header-navigation-area .main-menu.nav > li:last-child > a {
  margin-right: 0;
  padding-right: 0;
}
.header-navigation-area .main-menu.nav > li:hover span:before {
  background-color: #fff;
  width: 100%;
  left: 0;
  right: auto;
}
.header-navigation-area .main-menu.nav .has-submenu:hover a {
  color: #ffd868;
}
.header-navigation-area .main-menu.nav .has-submenu:hover a:before {
  color: #ffd868;
}
.header-navigation-area .main-menu.nav .has-submenu:hover a:after {
  bottom: auto;
  height: 100%;
  top: 0;
}
.header-navigation-area .main-menu.nav .has-submenu .submenu-nav {
  -webkit-box-shadow: 0 1px 24px 0 rgba(0, 0, 0, 0.09);
          box-shadow: 0 1px 24px 0 rgba(0, 0, 0, 0.09);
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  color: #555;
  padding: 0 0;
  position: absolute;
  width: 230px;
}
.header-navigation-area .main-menu.nav .has-submenu .submenu-nav:before {
  display: none;
}
.header-navigation-area .main-menu.nav .has-submenu .submenu-nav > li {
  border-bottom: 1px solid rgba(173, 181, 189, 0.15);
  padding: 0;
  margin-bottom: 0;
}
.header-navigation-area .main-menu.nav .has-submenu .submenu-nav > li:last-child {
  margin-bottom: 0;
  border-bottom: none;
}
.header-navigation-area .main-menu.nav .has-submenu .submenu-nav > li.active a {
  color: #721b65 !important;
}
.header-navigation-area .main-menu.nav .has-submenu .submenu-nav > li.active:after {
  color: #721b65;
}
.header-navigation-area .main-menu.nav .has-submenu .submenu-nav > li a {
  color: #1d1d1d;
  display: block;
  font-size: 14px;
  padding: 11px 25px 10px;
  position: relative;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
.header-navigation-area .main-menu.nav .has-submenu .submenu-nav > li a:hover {
  color: #721b65;
  background-color: rgba(173, 181, 189, 0.15);
}
@media only screen and (max-width: 1399.98px) {
  .header-navigation-area .main-menu.nav .has-submenu .submenu-nav > li.has-submenu {
    padding: 0px 28px;
  }
}
.header-navigation-area .main-menu.nav .has-submenu .submenu-nav > li.has-submenu:after {
  color: #555;
}
@media only screen and (max-width: 1399.98px) {
  .header-navigation-area .main-menu.nav .has-submenu .submenu-nav > li.has-submenu:after {
    right: auto;
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    top: calc(50% + -8px);
    left: 20px;
  }
}
.header-navigation-area .main-menu.nav .has-submenu .submenu-nav > li.has-submenu.active:after {
  color: #721b65;
}
.header-navigation-area .main-menu.nav .has-submenu .submenu-nav > li.has-submenu .submenu-nav {
  border-radius: 0 4px 4px 4px;
  -webkit-box-shadow: 0 0 3.76px 0.24px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 3.76px 0.24px rgba(0, 0, 0, 0.05);
  left: 100%;
  right: auto;
  top: 7px;
  transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
}
@media only screen and (max-width: 1399.98px) {
  .header-navigation-area .main-menu.nav .has-submenu .submenu-nav > li.has-submenu .submenu-nav {
    left: auto;
    right: 100%;
  }
}
.header-navigation-area .main-menu.nav .has-submenu .submenu-nav > li.has-submenu .submenu-nav:before {
  content: "";
  display: block;
  height: 30px;
  position: absolute;
}
.header-navigation-area .main-menu.nav .has-submenu .submenu-nav > li.has-submenu .submenu-nav > li > a {
  color: #555 !important;
}
.header-navigation-area .main-menu.nav .has-submenu .submenu-nav > li.has-submenu .submenu-nav > li > a:hover {
  color: #721b65 !important;
}
.header-navigation-area .main-menu.nav .has-submenu .submenu-nav > li.has-submenu .submenu-nav > li.active > a {
  color: #721b65 !important;
}
.header-navigation-area .main-menu.nav .has-submenu .submenu-nav > li.has-submenu:hover a {
  color: #721b65;
}
.header-navigation-area .main-menu.nav .has-submenu .submenu-nav > li.has-submenu:hover:after {
  color: #721b65 !important;
}
.header-navigation-area .main-menu.nav .has-submenu .submenu-nav-mega {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 50%;
  min-width: 100%;
  padding: 0;
  transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  width: 500px;
}
.header-navigation-area .main-menu.nav .has-submenu .submenu-nav-mega.column-3 {
  width: 720px;
}
.header-navigation-area .main-menu.nav .has-submenu .submenu-nav-mega .mega-menu-item {
  border-right: 1px solid rgba(173, 181, 189, 0.15);
  border-bottom: none;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin: 0;
  padding: 0 0;
}
.header-navigation-area .main-menu.nav .has-submenu .submenu-nav-mega .mega-menu-item:last-child {
  border-right: none;
}
.header-navigation-area .main-menu.nav .has-submenu .submenu-nav-mega .mega-menu-item ul > li {
  border-bottom: 1px solid rgba(173, 181, 189, 0.15);
}
.header-navigation-area .main-menu.nav .has-submenu .submenu-nav-mega .mega-menu-item ul > li.active > a {
  color: #721b65 !important;
}
.header-navigation-area .main-menu.nav .has-submenu .submenu-nav-mega .mega-menu-item ul > li > a {
  color: #1d1d1d !important;
  font-size: 13px;
  padding: 11px 35px 10px;
}
.header-navigation-area .main-menu.nav .has-submenu .submenu-nav-mega .mega-menu-item ul > li > a:hover {
  background-color: rgba(173, 181, 189, 0.15);
  color: #721b65 !important;
  text-decoration: none;
}
.header-navigation-area .main-menu.nav .has-submenu .submenu-nav-mega .mega-menu-item ul > li:first-child {
  border-top: 1px solid rgba(173, 181, 189, 0.15);
}
.header-navigation-area .main-menu.nav .has-submenu .submenu-nav-mega .mega-menu-item ul > li:last-child {
  border-bottom: none;
}
.header-navigation-area .main-menu.nav .has-submenu .submenu-nav-mega .mega-menu-item:hover .mega-title {
  color: #721b65;
  text-decoration: none;
}
.header-navigation-area .main-menu.nav .has-submenu .submenu-nav-mega .mega-title {
  color: #2d2d2d;
  font-size: 14px;
  font-weight: 600;
  font-family: "Nunito Sans", sans-serif;
  margin: 14px 0 0 0;
  padding: 11px 35px;
  text-decoration: none;
  text-transform: uppercase;
}
.header-navigation-area .main-menu.nav .has-submenu .submenu-nav-mega .mega-title:hover {
  background-color: transparent;
  color: #2d2d2d;
  cursor: auto;
  text-decoration: none;
}

.btn-menu {
  color: #fff;
  background-color: transparent;
  border: none;
  display: none;
  margin: 0;
  padding: 0;
  font-size: 28px;
  margin-left: 8px;
  position: relative;
  top: 1px;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}
@media only screen and (max-width: 575px) {
  .btn-menu {
    font-size: 26px;
    margin-left: 4px;
  }
}
@media only screen and (max-width: 991px) {
  .btn-menu {
    display: block;
  }
}
.btn-menu:hover {
  opacity: 0.7;
}

.header-logo-area {
  position: relative;
}
.header-logo-area a {
  display: block;
}
.header-logo-area img {
  max-width: 255px;
}
@media only screen and (max-width: 1399.98px) {
  .header-logo-area img {
    max-width: 125px;
  }
}
.header-logo-area .logo-light {
  display: none;
}

.header-action-area {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  top: 1px;
}
.header-action-area [class*=shopping-] {
  height: 42px;
}
.header-action-area .shopping-search {
  margin-right: 12px;
}
@media only screen and (max-width: 991px) {
  .header-action-area .shopping-search {
    display: block;
  }
}
@media only screen and (max-width: 575px) {
  .header-action-area .shopping-search {
    margin-right: 8px;
  }
}
.header-action-area .shopping-search-btn {
  display: inline-block;
  color: #fff;
  font-size: 25px;
  position: relative;
  top: 1px;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 575px) {
  .header-action-area .shopping-search-btn {
    font-size: 22px;
  }
}
.header-action-area .shopping-search-btn:hover {
  opacity: 0.7;
}
.header-action-area .shopping-account {
  margin-right: 15px;
}
@media only screen and (max-width: 575px) {
  .header-action-area .shopping-account {
    margin-right: 5px;
  }
}
.header-action-area .shopping-account-btn {
  display: inline-block;
  color: #fff;
  font-size: 29px;
  position: relative;
  top: -2px;
}
@media only screen and (max-width: 575px) {
  .header-action-area .shopping-account-btn {
    font-size: 25px;
  }
}
.header-action-area .shopping-account-btn:hover {
  opacity: 0.7;
}
.header-action-area .shopping-wishlist {
  margin-right: 11px;
}
@media only screen and (max-width: 575px) {
  .header-action-area .shopping-wishlist {
    margin-right: 6px;
  }
}
.header-action-area .shopping-wishlist-btn {
  display: inline-block;
  color: #fff;
  font-size: 27px;
  position: relative;
  top: 0;
}
@media only screen and (max-width: 575px) {
  .header-action-area .shopping-wishlist-btn {
    font-size: 24px;
  }
}
.header-action-area .shopping-wishlist-btn:hover {
  opacity: 0.7;
}
.header-action-area .shopping-cart-btn {
  color: #fff;
  display: inline-block;
  font-size: 26px;
  position: relative;
  padding: 0 8px 0 0;
  border: none;
  background-color: transparent;
  margin: 0;
}
@media only screen and (max-width: 575px) {
  .header-action-area .shopping-cart-btn {
    font-size: 24px;
  }
}
.header-action-area .shopping-cart-btn:hover {
  opacity: 0.7;
}
.header-action-area .shopping-cart-btn .shop-count {
  background-color: #ffd868;
  color: #000;
  font-size: 12px;
  font-weight: 700;
  height: 20px;
  width: 20px;
  position: absolute;
  display: inline-block;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  right: 0;
  top: 0;
}

.aside-search-box-wrapper .search-box-form-wrap .search-note p {
  font-size: 14px;
  text-transform: capitalize;
  color: #666;
  font-weight: 600;
  margin-bottom: 8px;
}
.aside-search-box-wrapper .search-form {
  position: relative;
}
.aside-search-box-wrapper .search-form .form-control {
  border: 1px solid #721b65;
  color: #721b65;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  height: 70px;
  font-size: 15px;
  font-weight: 600;
  line-height: 70px;
  text-transform: capitalize;
  padding: 10px 75px 10px 24px;
}
.aside-search-box-wrapper .search-form .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #721b65;
}
.aside-search-box-wrapper .search-form .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #721b65;
}
.aside-search-box-wrapper .search-form .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #721b65;
}
.aside-search-box-wrapper .search-form .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #721b65;
}
.aside-search-box-wrapper .search-form .search-button {
  border: none;
  background-color: #721b65;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 70px;
  font-size: 18px;
  color: #fff;
}
.aside-search-box-wrapper .search-form .search-button:hover {
  color: #721b65;
  background-color: #ffd868;
}
.aside-search-box-wrapper.offcanvas-top {
  height: 239px;
}
.aside-search-box-wrapper .offcanvas-header {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0;
}
.aside-search-box-wrapper .offcanvas-body {
  padding-top: 64px;
}
.aside-search-box-wrapper .btn-close {
  position: absolute;
  background-image: none;
  background-color: #721b65;
  color: #fff;
  opacity: 1;
  font-size: 38px;
  top: 0;
  width: 40px;
  padding: 0;
  margin: 0;
  height: 40px;
  line-height: 40px;
  border-radius: 0;
  right: 15px;
}
.aside-search-box-wrapper .btn-close:hover {
  color: #721b65;
  background-color: #ffd868;
}
