<!--== Start Header Wrapper ==-->
<header class="header-area header-default">
  <div class="container">
    <div class="row no-gutter align-items-center position-relative">
      <div class="col-12">
        <div class="header-align">
          <div class="header-align-start">
            <div class="header-logo-area">
              <a href="index.html">
                <!-- <img class="logo-main" src="assets/img/logo-light.webp" alt="Logo" /> -->
                <h2 class="text-white mb-0">Pets Haven</h2>
              </a>
            </div>
          </div>
          <div class="header-align-center">
            <div class="header-navigation-area position-relative">
              <ul class="main-menu nav">
                <li class="has-submenu">
                  <a href="#/"><span>Home</span></a>
                </li>
                <li>
                  <a routerLink="/about"><span>About</span></a>
                </li>
                <li class="has-submenu position-static">
                  <a routerLink="/products"><span>Shop</span></a>
                </li>
                <li class="has-submenu">
                  <a href="#/"><span>Pages</span></a>
                  <ul class="submenu-nav">
                    <li>
                      <a routerLink="/Account"><span>Account</span></a>
                    </li>
                    <li *ngIf="isLogin">
                      <a routerLink="/signin"><span>Login</span></a>
                    </li>
                    <li *ngIf="isLogin">
                      <a href="account-register.html"><span>Register</span></a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a routerLink="contact-us"><span>Contact Us</span></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="header-align-end">
            <div class="header-action-area">
              <div class="shopping-search">
                <button
                  class="shopping-search-btn"
                  type="button"
                  data-bs-toggle="offcanvas"
                  data-bs-target="#AsideOffcanvasSearch"
                  aria-controls="AsideOffcanvasSearch"
                >
                  <i class="bi bi-search"></i>
                </button>
              </div>
              <div class="shopping-account">
                <a class="shopping-account-btn" routerLink="/signin">
                  <i class="bi bi-people"></i>
                </a>
              </div>
              <div class="shopping-wishlist">
                <a class="shopping-wishlist-btn" routerLink="/whishlist">
                  <i class="bi bi-heart"></i>
                </a>
              </div>
              <div class="shopping-cart">
                <button
                  class="shopping-cart-btn"
                  type="button"
                  (click)="openCart()"
                  data-bs-toggle="modal"
                >
                  <i class="bi bi-bag-dash"></i>
                  <sup class="shop-count">{{ cartCount }}</sup>
                </button>
              </div>
              <button
                class="btn-menu"
                type="button"
                (click)="openCart()"
                data-bs-toggle="modal"
              >
                <i class="bi bi-list"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!--== End Header Wrapper ==-->
<app-aside-menu></app-aside-menu>
<app-search-home-icon></app-search-home-icon>
<!-- <app-aside-cart></app-aside-cart> -->
