<aside
  class="product-action-modal modal fade"
  id="action-WishlistModal"
  tabindex="-1"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="product-action-view-content">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            [mat-dialog-close]
          >
            <i class="bi bi-x"></i>
          </button>
          <div class="modal-action-messages">
            <i class="bi bi-check-circle"></i> Added to wishlist successfully!
          </div>
          <div class="modal-action-product">
            <div class="thumb">
              <img
                src="https://petsegypt.com/web/image/product.template/7163/image_1024?unique=33d7e29s"
                alt="Organic Food Juice"
                style="height: 320px; width: 100%"
              />
            </div>
            <h4 class="product-name">
              <a href="single-product.html">{{ data.name }}</a>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>
