<section class="product-area product-default-area">
      <div class="container pt--0">
        <div class="row">
          <div class="col-12">
            <div class="section-title mb-45 mb-sm-20 shape-center text-center">
              <h5 class="sub-title">Best PRODUCT</h5>
              <h2 class="title">New Collection</h2>
            </div>
            <div class="isotope-filter">
              <button class="active" data-filter="*" fdprocessedid="3nv0w">All</button>
              <button data-filter=".filter_new" fdprocessedid="36rc8v" class="">New</button>
              <button data-filter=".filter_best_sellers" fdprocessedid="79yibm" class="">Best Sellers</button>
              <button data-filter=".filter_featured" fdprocessedid="vei41q" class="">Featured</button>
              <button data-filter=".filter_on_sall" fdprocessedid="oqkdvi" class="">On Sall</button>
            </div>
          </div>
        </div>
        <div class="row isotope-grid" style="position: relative; height: 853.596px;">
          <div class="col-sm-6 col-lg-3 isotope-item filter_best_sellers filter_on_sall" style="position: absolute; left: 0px; top: 0px;">
            <!--== Start Product Item ==-->
            <div class="product-item">
              <div class="product-thumb">
                <a href="single-product.html">
                  <img src="assets/img/shop/1.webp" width="270" height="320" alt="Image-HasTech">
                </a>
              </div>
              <div class="product-info">
                <h4 class="title"><a href="single-product.html">Joust Duffle Bag</a></h4>
                <div class="prices">
                  <span class="price">$20.19</span>
                </div>
              </div>
              <div class="product-action">
                <button type="button" class="btn-product-wishlist" data-bs-toggle="modal" data-bs-target="#action-WishlistModal" fdprocessedid="31i25l">
                  <i class="pe-7s-like"></i>
                </button>
                <div class="product-action-links">
                  <button type="button" class="btn-product-cart" data-bs-toggle="modal" data-bs-target="#action-CartAddModal" fdprocessedid="ypg5w3">
                    <i class="pe-7s-shopbag"></i>
                  </button>
                  <button type="button" class="btn-product-quick-view" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal" fdprocessedid="mhkl1i">
                    <i class="pe-7s-look"></i>
                  </button>
                </div>
              </div>
            </div>
            <!--== End prPduct Item ==-->
          </div>
          <div class="col-sm-6 col-lg-3 isotope-item filter_new filter_featured" style="position: absolute; left: 300px; top: 0px;">
            <!--== Start Product Item ==-->
            <div class="product-item">
              <div class="product-thumb">
                <a href="single-product.html">
                  <img src="assets/img/shop/2.webp" width="270" height="320" alt="Image-HasTech">
                </a>
              </div>
              <div class="product-info">
                <h4 class="title"><a href="single-product.html">Endeavor Daytripa</a></h4>
                <div class="prices">
                  <span class="price">$33.00</span>
                </div>
              </div>
              <div class="product-action">
                <button type="button" class="btn-product-wishlist" data-bs-toggle="modal" data-bs-target="#action-WishlistModal" fdprocessedid="vb8l2q">
                  <i class="pe-7s-like"></i>
                </button>
                <div class="product-action-links">
                  <button type="button" class="btn-product-cart" data-bs-toggle="modal" data-bs-target="#action-CartAddModal" fdprocessedid="be6v2">
                    <i class="pe-7s-shopbag"></i>
                  </button>
                  <button type="button" class="btn-product-quick-view" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal" fdprocessedid="bog3j">
                    <i class="pe-7s-look"></i>
                  </button>
                </div>
              </div>
            </div>
            <!--== End prPduct Item ==-->
          </div>
          <div class="col-sm-6 col-lg-3 isotope-item filter_best_sellers filter_on_sall" style="position: absolute; left: 600px; top: 0px;">
            <!--== Start Product Item ==-->
            <div class="product-item">
              <div class="product-thumb">
                <a href="single-product.html">
                  <img src="assets/img/shop/3.webp" width="270" height="320" alt="Image-HasTech">
                </a>
              </div>
              <div class="product-info">
                <h4 class="title"><a href="single-product.html">Impulse Duffle</a></h4>
                <div class="prices">
                  <span class="price">$65.00</span>
                </div>
              </div>
              <div class="product-action">
                <button type="button" class="btn-product-wishlist" data-bs-toggle="modal" data-bs-target="#action-WishlistModal" fdprocessedid="nabt0f">
                  <i class="pe-7s-like"></i>
                </button>
                <div class="product-action-links">
                  <button type="button" class="btn-product-cart" data-bs-toggle="modal" data-bs-target="#action-CartAddModal" fdprocessedid="e84bxn">
                    <i class="pe-7s-shopbag"></i>
                  </button>
                  <button type="button" class="btn-product-quick-view" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal" fdprocessedid="q1k0ke">
                    <i class="pe-7s-look"></i>
                  </button>
                </div>
              </div>
            </div>
            <!--== End prPduct Item ==-->
          </div>
          <div class="col-sm-6 col-lg-3 isotope-item filter_new filter_featured" style="position: absolute; left: 900px; top: 0px;">
            <!--== Start Product Item ==-->
            <div class="product-item">
              <div class="product-thumb">
                <a href="single-product.html">
                  <img src="assets/img/shop/4.webp" width="270" height="320" alt="Image-HasTech">
                </a>
              </div>
              <div class="product-info">
                <h4 class="title"><a href="single-product.html">Driven Backpack</a></h4>
                <div class="prices">
                  <span class="price">$25.00</span>
                </div>
              </div>
              <div class="product-action">
                <button type="button" class="btn-product-wishlist" data-bs-toggle="modal" data-bs-target="#action-WishlistModal" fdprocessedid="4558cs">
                  <i class="pe-7s-like"></i>
                </button>
                <div class="product-action-links">
                  <button type="button" class="btn-product-cart" data-bs-toggle="modal" data-bs-target="#action-CartAddModal" fdprocessedid="kh2z34">
                    <i class="pe-7s-shopbag"></i>
                  </button>
                  <button type="button" class="btn-product-quick-view" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal" fdprocessedid="81767l">
                    <i class="pe-7s-look"></i>
                  </button>
                </div>
              </div>
            </div>
            <!--== End prPduct Item ==-->
          </div>
          <div class="col-sm-6 col-lg-3 isotope-item filter_best_sellers filter_on_sall" style="position: absolute; left: 0px; top: 426.798px;">
            <!--== Start Product Item ==-->
            <div class="product-item">
              <div class="product-thumb">
                <a href="single-product.html">
                  <img src="assets/img/shop/5.webp" width="270" height="320" alt="Image-HasTech">
                </a>
              </div>
              <div class="product-info">
                <h4 class="title"><a href="single-product.html">Fusion Backpack</a></h4>
                <div class="prices">
                  <span class="price">$45.00</span>
                </div>
              </div>
              <div class="product-action">
                <button type="button" class="btn-product-wishlist" data-bs-toggle="modal" data-bs-target="#action-WishlistModal" fdprocessedid="yfuv5b">
                  <i class="pe-7s-like"></i>
                </button>
                <div class="product-action-links">
                  <button type="button" class="btn-product-cart" data-bs-toggle="modal" data-bs-target="#action-CartAddModal" fdprocessedid="7igxu">
                    <i class="pe-7s-shopbag"></i>
                  </button>
                  <button type="button" class="btn-product-quick-view" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal" fdprocessedid="j2zhy8">
                    <i class="pe-7s-look"></i>
                  </button>
                </div>
              </div>
            </div>
            <!--== End prPduct Item ==-->
          </div>
          <div class="col-sm-6 col-lg-3 isotope-item filter_new filter_featured" style="position: absolute; left: 300px; top: 426.798px;">
            <!--== Start Product Item ==-->
            <div class="product-item">
              <div class="product-thumb">
                <a href="single-product.html">
                  <img src="assets/img/shop/6.webp" width="270" height="320" alt="Image-HasTech">
                </a>
              </div>
              <div class="product-info">
                <h4 class="title"><a href="single-product.html">Savvy Shoulder Tote</a></h4>
                <div class="prices">
                  <span class="price">$30.00</span>
                </div>
              </div>
              <div class="product-action">
                <button type="button" class="btn-product-wishlist" data-bs-toggle="modal" data-bs-target="#action-WishlistModal" fdprocessedid="3z85dp">
                  <i class="pe-7s-like"></i>
                </button>
                <div class="product-action-links">
                  <button type="button" class="btn-product-cart" data-bs-toggle="modal" data-bs-target="#action-CartAddModal" fdprocessedid="echri9">
                    <i class="pe-7s-shopbag"></i>
                  </button>
                  <button type="button" class="btn-product-quick-view" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal" fdprocessedid="gjyhr8">
                    <i class="pe-7s-look"></i>
                  </button>
                </div>
              </div>
            </div>
            <!--== End prPduct Item ==-->
          </div>
          <div class="col-sm-6 col-lg-3 isotope-item filter_best_sellers filter_on_sall" style="position: absolute; left: 600px; top: 426.798px;">
            <!--== Start Product Item ==-->
            <div class="product-item">
              <div class="product-thumb">
                <a href="single-product.html">
                  <img src="assets/img/shop/7.webp" width="270" height="320" alt="Image-HasTech">
                </a>
              </div>
              <div class="product-info">
                <h4 class="title"><a href="single-product.html">Voyage Yoga Bag</a></h4>
                <div class="prices">
                  <span class="price">$39.00</span>
                </div>
              </div>
              <div class="product-action">
                <button type="button" class="btn-product-wishlist" data-bs-toggle="modal" data-bs-target="#action-WishlistModal" fdprocessedid="u5azof">
                  <i class="pe-7s-like"></i>
                </button>
                <div class="product-action-links">
                  <button type="button" class="btn-product-cart" data-bs-toggle="modal" data-bs-target="#action-CartAddModal" fdprocessedid="7uvnsj">
                    <i class="pe-7s-shopbag"></i>
                  </button>
                  <button type="button" class="btn-product-quick-view" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal" fdprocessedid="s9tu24">
                    <i class="pe-7s-look"></i>
                  </button>
                </div>
              </div>
            </div>
            <!--== End prPduct Item ==-->
          </div>
          <div class="col-sm-6 col-lg-3 isotope-item filter_new filter_featured" style="position: absolute; left: 900px; top: 426.798px;">
            <!--== Start Product Item ==-->
            <div class="product-item">
              <div class="product-thumb">
                <a href="single-product.html">
                  <img src="assets/img/shop/8.webp" width="270" height="320" alt="Image-HasTech">
                </a>
              </div>
              <div class="product-info">
                <h4 class="title"><a href="single-product.html">Wayfarer Messenger Bag</a></h4>
                <div class="prices">
                  <span class="price">$50.00</span>
                </div>
              </div>
              <div class="product-action">
                <button type="button" class="btn-product-wishlist" data-bs-toggle="modal" data-bs-target="#action-WishlistModal" fdprocessedid="yu3xtr">
                  <i class="pe-7s-like"></i>
                </button>
                <div class="product-action-links">
                  <button type="button" class="btn-product-cart" data-bs-toggle="modal" data-bs-target="#action-CartAddModal" fdprocessedid="e85mkb">
                    <i class="pe-7s-shopbag"></i>
                  </button>
                  <button type="button" class="btn-product-quick-view" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal" fdprocessedid="fr3br9">
                    <i class="pe-7s-look"></i>
                  </button>
                </div>
              </div>
            </div>
            <!--== End prPduct Item ==-->
          </div>
        </div>
      </div>
    </section>