<div class="sidebar-wrapper" data-simplebar="true">
  <div class="sidebar-header">
    <div>
      <img
        src="assets/Icons/FavIcon.png"
        class="logo-icon"
        alt="logo icon"
      />
    </div>
    <div>
      <h4 class="logo-text text-dark">Pets Haven</h4>
    </div>
    <div class="toggle-icon ms-auto"><i class="bx bx-arrow-to-left"></i></div>
  </div>
  <!--navigation-->
  <ul class="metismenu" id="menu">
    <li>
      <a href="widgets.html">
        <div class="parent-icon"><i class="bi bi-person"></i></div>
        <div class="menu-title">Users</div>
      </a>
    </li>
    <li>
      <a href="widgets.html">
        <div class="parent-icon"><i class="bi bi-basket"></i></div>
        <div class="menu-title">Products</div>
      </a>
    </li>
    <li>
      <a href="widgets.html">
        <div class="parent-icon"><i class="bi bi-tag"></i></div>
        <div class="menu-title">Categories</div>
      </a>
    </li>
    <li>
      <a href="widgets.html">
        <div class="parent-icon"><i class="bi bi-chat-left"></i></div>
        <div class="menu-title">Messages</div>
      </a>
    </li>
  </ul>
  <!--end navigation-->
</div>
