<div class="row d-flex justify-content-end">
  <div class="col-12 col-lg-6">
    <div class="cart-totals-wrap">
      <h2 class="title">Cart totals</h2>
      <table>
        <tbody>
          <tr class="cart-subtotal">
            <th>Subtotal</th>
            <td>
              <span class="amount">$499.00</span>
            </td>
          </tr>
          <tr class="shipping-totals">
            <th>Shipping</th>
            <td>
              <ul class="shipping-list">
                <li class="radio">
                  <input type="radio" name="shipping" id="radio1" checked />
                  <label for="radio1">Flat rate: <span>$3.00</span></label>
                </li>
                <li class="radio">
                  <input type="radio" name="shipping" id="radio2" />
                  <label for="radio2">Free shipping</label>
                </li>
                <li class="radio">
                  <input type="radio" name="shipping" id="radio3" />
                  <label for="radio3">Local pickup</label>
                </li>
              </ul>
              <p class="destination">Shipping to <strong>USA</strong>.</p>
              <a href="javascript:void(0)" class="btn-shipping-address"
                >Change address</a
              >
            </td>
          </tr>
          <tr class="order-total">
            <th>Total</th>
            <td>
              <span class="amount">$504.00</span>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-end">
        <a href="shop-checkout.html" class="checkout-button"
          >Proceed to checkout</a
        >
      </div>
    </div>
  </div>
</div>
