<app-page-header-area mainText="Our Products"></app-page-header-area>
<div class="container p-5">
  <div class="container">
    <div class="row p-2 d-flex justify-content-between bg-light product-nav">
      <div class="col-lg-4 col-md-4 col-sm-12 mt-2">
        <p style="color: #f8d363; display: inline-block">
          {{ getCurrentPageProducts().length }}
        </p>
        <p style="display: inline-block">&nbsp; Products Found out of &nbsp;</p>
        <p style="color: #f8d363; display: inline-block">
          {{ products ? products.length : 0 }}
        </p>
      </div>
      <div
        class="col-lg-4 col-md-4 col-sm-12 d-flex justify-content-center align-items-center"
      >
        <a
          class="text-decoration-none"
          (click)="toggleCardType(false)"
          [ngStyle]="{ color: !showCardWithoutContent ? '#ffd868' : '#721b65' }"
        >
          <i class="bi bi-grid-3x3-gap-fill style m-2 fs-5"> </i
        ></a>
        <a
          class="text-decoration-none"
          (click)="toggleCardType(true)"
          [ngStyle]="{ color: showCardWithoutContent ? '#ffd868' : '#721b65' }"
        >
          <i class="bi bi-list-task fs-4"></i
        ></a>
      </div>
      <div
        class="col-lg-4 col-md-4 col-sm-12 d-flex justify-content-end align-items-center"
      >
        <div style="margin-right: 1%">
          <p class="mb-0">Sort By:</p>
        </div>
        <div class="dropdown ml-3">
          <select
            class="form-control"
            id="sortSelect"
            name="sort"
            (change)="Sortproducts()"
            [(ngModel)]="sort"
          >
            <option value="Default" selected>Default</option>
            <option value="LH">Price L-H</option>
            <option value="HL">Price H-L</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-sm-12">
        <div *ngIf="!showCardWithoutContent" class="firsview row mt-3">
          <app-card-column
            class="col-lg-4"
            [product]="product"
            *ngFor="let product of getCurrentPageProducts()"
          ></app-card-column>
        </div>
        <div *ngIf="showCardWithoutContent" class="second view">
          <app-card-row
            class="col-lg-4"
            [product]="product"
            *ngFor="let product of getCurrentPageProducts()"
          ></app-card-row>
        </div>

        <div class="row mt-5">
          <div class="col-md-12 d-flex justify-content-between">
            <button class="btn btn-next-prev mr-2" (click)="onPreviousPage()">
              Previous
            </button>
            <span>Page {{ currentPage }} of {{ totalPages() }}</span>
            <button class="btn btn-next-prev ml-2" (click)="onNextPage()">
              Next
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-12 mt-3">
        <app-searchbar (searchResult)="SearchProducts($event)"></app-searchbar>
        <div class="col-12 mt-5">
          <app-category-filter
            (categoryfilter)="filterByCategory($event)"
          ></app-category-filter>
        </div>
        <div class="col-12 mt-5"></div>
      </div>
    </div>
  </div>
</div>
