<div class="product-item">
  <div class="product-thumb">
    <a routerLink="/products-details/{{ product.id }}">
      <img
        src="https://petsegypt.com/web/image/product.template/7163/image_1024?unique=33d7e29s"
        alt="Image-HasTech"
        style="height: 320px"
      />
    </a>
  </div>
  <div class="product-info">
    <h4 class="title">
      <a routerLink="/products-details/{{ product.id }}">{{ product.name }}</a>
    </h4>
    <div class="prices">
      <span class="price">${{ product.price }}</span>
    </div>
  </div>
  <div class="product-action">
    <button
      type="button"
      class="btn-product-wishlist"
      data-bs-toggle="modal"
      (click)="addtowhishlist()"
    >
      <i class="bi bi-heart heart"></i>
    </button>
    <div class="product-action-links">
      <button
        type="button"
        class="btn-product-cart"
        data-bs-toggle="modal"
        (click)="addtocart()"
      >
        <i class="bi bi-bag"></i>
      </button>
      <button
        type="button"
        class="btn-product-quick-view"
        data-bs-toggle="modal"
        (click)="details()"
      >
        <i class="bi bi-eye"></i>
      </button>
    </div>
  </div>
</div>
