<nav class="navbar navbar-expand-lg fixed-top align-items-center">
  <div class="container-lg container-fluid justify-content-sm-end p-3">
    <a class="navbar-brand logo fs-2" href="#">Pets Haven</a>
    <div
      class="offcanvas offcanvas-start"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Pets Haven</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body bo">
        <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
          <li class="nav-link nav-item mx-2">
            <a href="#" class="p-lg-2">Home</a>
          </li>
          <li class="nav-link nav-item mx-2">
            <a href="#" class="p-lg-2">About</a>
          </li>
          <li class="nav-link nav-item mx-2 shop">
            <a href="#" class="p-lg-2">Shop</a>
            <ul class="shopmenu dropdown-menu">
              <li><a class="dropdown-item" href="#">Shop</a></li>
              <li><a class="dropdown-item" href="#">Shop</a></li>
              <li><a class="dropdown-item" href="#">Shop</a></li>
            </ul>
          </li>
          <li class="nav-link nav-item mx-2">
            <a href="#" class="p-lg-2">Blog</a>
          </li>
          <li class="nav-link nav-item mx-2 page">
            <a href="#" class="p-lg-2">Pages</a>
            <ul class="Pagemenu dropdown-menu">
              <li><a class="dropdown-item" href="#">Shop</a></li>
              <li><a class="dropdown-item" href="#">Shop</a></li>
              <li><a class="dropdown-item" href="#">Shop</a></li>
            </ul>
          </li>
          <li class="nav-link nav-item mx-2">
            <a href="#" class="p-lg-4">Contact</a>
          </li>
        </ul>
      </div>
    </div>
    <ul class="justfiy-content-centerflex-md-direction-row pe-3 fs-5">
      <li class="nav-link nav-item mx-2 mt-3 d-inline-block">
        <a href="#"><i class="bi bi-search"></i> </a>
      </li>
      <li class="nav-link nav-item mx-2 mt-3 d-inline-block">
        <a href="#"><i class="bi bi-person"></i></a>
      </li>
      <li class="nav-link nav-item mx-2 mt-3 d-inline-block">
        <a href="#"><i class="bi bi-heart"></i></a>
      </li>
      <li class="nav-link nav-item mx-2 mt-3 d-inline-block">
        <a href="#"><i class="bi bi-bag"></i></a>
      </li>
    </ul>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>