<section class="product-area product-category-area bg-color-f2 py-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title shape-center text-center">
          <h5 class="sub-title">TRENDING CATEGORIES</h5>
          <h2 class="title">Shop By Category</h2>
        </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-gutter-43 justify-content-center">
      <div class="col">
        <div class="product-category-item">
          <div class="thumb py-3">
            <a routerLink="/products">
              <img src="../../../assets/Images/Category/1 (1).webp" width="200" height="200" alt="Image-HasTech"></a>
          </div>
          <div class="content py-3">
            <h3 class="title text-center"><a  routerLink="/products">Cats</a></h3>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="product-category-item">
          <div class="thumb py-3">
            <a routerLink="/products">
              <img src="../../../assets/Images/Category/2.webp" width="200" height="200" alt="Image-HasTech"></a>
          </div>
          <div class="content py-3">
            <h3 class="title text-center"><a routerLink="/products">Gold Fish</a></h3>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="product-category-item">
          <div class="thumb py-3">
            <a routerLink="/products">
              <img src="../../../assets/Images/Category/3.webp" width="200" height="200" alt="Image-HasTech"></a>
          </div>
          <div class="content py-3">
            <h3 class="title text-center"><a routerLink="/products">Parrot</a></h3>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="product-category-item">
          <div class="thumb py-3">
            <a routerLink="/products">
              <img src="../../../assets/Images/Category/4.webp" width="200" height="200" alt="Image-HasTech"></a>
          </div>
          <div class="content py-3">
            <h3 class="title text-center"><a routerLink="/products">Dog</a></h3>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="product-category-item">
          <div class="thumb py-3">
            <a routerLink="/products">
              <img src="../../../assets/Images/Category/5.webp" width="200" height="200" alt="Image-HasTech"></a>
          </div>
          <div class="content py-3">
            <h3 class="title text-center"><a routerLink="/products">Rabbits</a></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>