<app-page-header-area mainText="Contact Us"></app-page-header-area>
<section class="contact-area contact-inner-area">
  <div class="container">
    <div class="row contact-page-wrapper">
      <div class="col-xl-5">
        <h4 class="contact-page-title">
          We Are Here! <br />Please Contact Us.
        </h4>
        <div class="contact-info-wrap">
          <div class="contact-info">
            <div class="row">
              <div class="col-12 col-lg-6 col-xl-12">
                <div class="info-item">
                  <div class="icon">
                    <img src="assets/Icons/c1.webp" alt="Image-HasTech" />
                  </div>
                  <div class="info">
                    <h5 class="title">Address:</h5>
                    <p>ITI-EGYPT | BANHA BRANCH</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-6 col-xl-12">
                <div class="info-item">
                  <div class="icon">
                    <img src="assets/Icons/c2.webp" alt="Image-HasTech" />
                  </div>
                  <div class="info">
                    <h5 class="title">Phone:</h5>
                    <p>
                      <a href="tel://+201153285919">+20 115 328 5919</a><br />
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-6 col-xl-12">
                <div class="info-item">
                  <div class="icon">
                    <img src="assets/Icons/c3.webp" alt="Image-HasTech" />
                  </div>
                  <div class="info">
                    <h5 class="title">Email:</h5>
                    <p>
                      <a href="mailto://demo@example.com">ITI@gmail.com</a
                      ><br />
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-7">
        <h4 class="contact-page-title page-title-style2">Send A Quest</h4>
        <div class="contact-form-wrap">
          <div class="contact-form">
            <form
              id="contact-form"
              action="https://whizthemes.com/mail-php/raju/arden/mail.php"
              method="POST"
              [formGroup]="ContactForm"
              (submit)="onSubmit($event)"
            >
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      class="form-control"
                      type="text"
                      name="con_name"
                      placeholder="Name *"
                      formControlName="name"
                    />
                    <ng-container *ngIf="getName.dirty">
                      <div
                        *ngIf="getName.hasError('required')"
                        class="form-text text-danger text-capitalize"
                      >
                        Name is required.
                      </div>
                      <div
                        *ngIf="getName.hasError('minlength')"
                        class="form-text text-danger text-capitalize"
                      >
                        Name must be more than 3 words.
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      class="form-control"
                      type="email"
                      name="con_email"
                      placeholder="Email *"
                      formControlName="email"
                    />
                    <ng-container *ngIf="getEmail.dirty">
                      <div
                        *ngIf="getEmail.hasError('required')"
                        class="form-text text-danger text-capitalize"
                      >
                        Email is required.
                      </div>
                      <div
                        *ngIf="getEmail.hasError('email')"
                        class="form-text text-danger text-capitalize"
                      >
                        Email Not valid.
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <input
                      class="form-control"
                      type="text"
                      placeholder="Subject (Optinal)"
                    />
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group mb--0">
                    <textarea
                      class="form-control"
                      name="con_message"
                      placeholder="Message"
                      formControlName="message"
                    ></textarea>
                    <ng-container *ngIf="getMessage.dirty">
                      <div
                        *ngIf="getMessage.hasError('required')"
                        class="form-text text-danger text-capitalize"
                      >
                        Message is required.
                      </div>
                      <div
                        *ngIf="getMessage.hasError('minlength')"
                        class="form-text text-danger text-capitalize"
                      >
                        Message must be more than 3 words.
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group mb--0">
                    <button class="btn-theme" type="submit">
                      Send Message
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="form-message"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-feature-area></app-feature-area>
