/* contact-us.component.css */

.page-header-content .title {
  font-size: 3rem;
}

.contact-page-wrapper .contact-page-title {
  font-size: 2.5rem;
}

.contact-info-wrap .contact-info .info-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contact-info-wrap .contact-info .info-item .icon {
  flex: 0 0 60px;
}

.contact-info-wrap .contact-info .info-item .icon i {
  font-size: 2rem;
}

.contact-info-wrap .contact-info .info-item .info {
  flex: 1;
  padding-left: 20px;
}

.contact-form-wrap .contact-form .form-group input[type="text"],
.contact-form-wrap .contact-form .form-group input[type="email"],
.contact-form-wrap .contact-form .form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form-wrap .contact-form .form-group button.btn.btn-theme {
  font-size: 1.5rem;
  padding: 10px 20px;
}

.contact-form-wrap .contact-form .form-group .thank-you-message {
  font-size: 1.5rem;
}

.page-header-area {
  background-size: cover;
  background-position: center;
  height: 670px;
}



/* CSS for the thank you message */
.thank-you-message {
  display: none; /* Initially hide the message */
  color: rgb(199, 22, 163); /* Customize the color of the message */
}

/*****************************************************************/
/* Show the thank you message when the .show class is applied */
.thank-you-message.show {
  display: block;
}



/* book-meeting.component.css */
.meeting {
  background-color: #c3a1cd;
  padding: 40px 0;
  border: 2px solid #2d0129; /* Green border */
}

.section-title {
  text-align: center;
  margin-bottom: 30px;
}

.section-title h2 {
  color: #d8094e;
}

.section-title small {
  display: block;
  margin-top: 10px;
  font-size: 16px;
}

.section-title ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.section-title li {
  margin-bottom: 5px;
  font-weight: bold;
}

.row {
  display: flex;
  justify-content: center;
}

a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e207b6; /* Green button */
  color: #000000;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: #6b0445; /* Darker green on hover */
}
