<app-page-header-area mainText="Cart"></app-page-header-area>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="shopping-cart-form table-responsive">
        <table class="table text-center">
          <thead>
            <tr>
              <th class="product-remove">&nbsp;</th>
              <th class="product-thumbnail">&nbsp;</th>
              <th class="product-name">Product</th>
              <th class="product-price">Price</th>
              <th class="product-quantity">Quantity</th>
              <th class="product-subtotal">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr class="tbody-item" *ngFor="let product of products">
              <td class="product-remove">
                <i (click)="deleteButton(product)" class="remove bi bi-x"></i>
              </td>
              <td class="product-thumbnail">
                <div class="thumb">
                  <a href="single-product.html">
                    <img
                      src="{{ product.productImage }}"
                      width="75"
                      height="75"
                      alt="Image-HasTech"
                    />
                  </a>
                </div>
              </td>
              <td class="product-name">
                <a class="title" href="single-product.html">{{
                  product.productName
                }}</a>
              </td>
              <td class="product-price">
                <span class="price">{{ product.productPrice }}</span>
              </td>
              <td class="product-quantity">
                <div class="pro-qty">
                  <input
                    (change)="changeHandle(product)"
                    [(ngModel)]="product.cartQuantity"
                    type="text"
                    class="quantity"
                    title="Quantity"
                    value="1"
                  />
                  <div (click)="minusbutton(product)" class="dec qty-btn">
                    -
                  </div>
                  <div (click)="addbutton(product)" class="inc qty-btn">+</div>
                </div>
              </td>
              <td class="product-subtotal">
                <span class="price">${{ totalProductprice(product) }}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <app-check-out [totalprice]="totalprice"></app-check-out>
</div>
