<section class="product-area product-banner-area py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="banner-product-single-item div1">
          <div class="thumb">
            <a routerLink="/products">
              <img src="../../../assets/Images/Banner/2.webp" class="img-fluid" alt="Image-HasTech">
            </a>
          </div>
          <div class="content">
            <h5 class="sub-title">50% Off</h5>
            <h5 class="title">Dog Food</h5>
            <a class="btn-theme btn-theme-color btn-sm" routerLink="/products">Shop Now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="banner-product-single-item">
          <div class="thumb">
            <a routerLink="/products">
              <img src="../../../assets/Images/Banner/1.webp" class="img-fluid" alt="Image-HasTech">
            </a>
          </div>
          <div class="content">
            <h5 class="sub-title">50% Off</h5>
            <h5 class="title">Cat Food</h5>
            <a class="btn-theme btn-theme-color btn-sm" routerLink="/products">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
